/* Mobile styles (default) */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --black: #13171f;
  --blue: #004FFF;
  --lightblue: rgb(98, 140, 255);
  --red: #FF101F;

  --color1:#EF476F;
  --color2:#FFD166;
  --color3:#06D6A0;
  --color4:#26547C;
  --color5:#1B4353;

  --color1:#FB5607;
  --color2:#FF006E;
  --color3:#8338EC;
  --color4:#FFBE0B;
  --color5:#1B4353;
}

.logo-text {
  font-weight: 600;
}

.logo {
    display: flex;
}

.logo img {
    margin-top: 15px;
    margin-right: 8px;
    height: 25px;
    width: auto;
}

.outfit-header, h1, h2, h3, h4, h5 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #13171f;
}