/* Mobile styles (default) */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playpen+Sans+Thai:wght@100..800&display=swap');
:root {
  --black: #13171f;

  --darkblue: #1e3565;

  --blue: #004FFF;
  --accent: #a1ecff;
  --lightblue: rgb(98, 140, 255);
  --red: #FF101F;
  --green: rgb(1, 170, 1);

  /* --color1:#EF476F;
  --color2:#FFD166;
  --color3:#06D6A0;
  --color4:#26547C;
  --color5:#1B4353; */

  --color1:#75b543;
  --color2:#f730fa;
  /* --color2:#fa631d; */
  --color3:#ff0051;
  --color4:#ffc832;
  --color5:#1B4353;

  --color1: var(--green);
  --color2: var(--red);
  /* --color2:#fa631d; */
  --color3: var(--red);
  --color4:#ffbb00;
  --color5:#1B4353;
}

/* Spesific background images */
.kelly-img {
  background-image: url("images/kelly-sandrea-kovacs-dupe.jpeg");
  background-size: cover;
  background-position: center;
}
.yrityksesi-hakukoneissa-img {
  background-image: url("images/yrityksesi-hakukoneessa.png");
  background-size: cover;
} .yrityksesi-hakukoneissa-img p {
  color: black !important;
}
.pricing-card-img {
  background-image: url("images/vanhasta-uuteen2.png");
  background-size: cover;
  background-position: center;
} .pricing-card-img p {
  color: black !important;
}

.logo-text {
  font-weight: 600;
}

.logo {
    display: flex;
}

.logo img {
    margin-top: 15px;
    margin-right: 8px;
    height: 25px;
    width: auto;
}

.outfit-header, h1, h2, h3, h4, h5, li {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #13171f;
}
li {
  font-weight: 400;
  padding-bottom: 10px;
}
.gray-section {
  background-color: rgb(226, 239, 247);
}
.heading-with-icon {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
.heading-with-icon img, .heading-with-icon .icon {
    color: var(--red);
    height: 30px;
    width: 30px;
    margin-right: 10px;
    flex-shrink: 0;
}

nav a {
  text-decoration: none;
} nav p {
color: white !important;
}

.image-and-text {
  display: flex;
}
.image-and-text img {
  width: 50%;
  height: auto;
}