/* Mobile styles (default) */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.outfit-header, h1, h2, h3, h4, h5 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.spacer {
    height: 100px;
}
.spacer30 {
  height: 30px;
}

b {
  font-weight: 500;
}

p {
    font-size: 18px;
    font-weight: 300;
}

* {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

body {
    margin: 0;
    /* background-color: #0101ab; */
    /* background-color: rgb(21, 12, 29); */
}

/* One way to do the hero video */
.hero-video {
  display: grid;
  place-items: center;
}

.hero-video img{
  width: 70%;
  margin: auto;
  height: 200px;
  object-fit: cover;
  background-position: center;

  border: 4px solid rgba(255, 255, 255, 0.501);
  border-radius: 8px;
}

/* Other way to do the hero video */
.hero-video2 {
  /* display: grid; */
  /* place-items: center; */
  /* background-color: white; */
  border-radius: 4px;
  display: flex;
}
.hero-video2 p {
  padding-left: 20px;
  margin-top: 8px;
}

.hero-video2 img{
  height: 60px;
  width: auto;
  object-fit: cover;
  background-position: center;

  border: 2px solid rgba(255, 255, 255, 0.501);
  border-radius: 8px;
}

.small-text {
  font-size: 12px;
  color: rgb(189, 188, 188);
  font-weight: 400;
  padding-left: 10px;
}

section {
    padding: 20px;
}

.button {
    background-color: #0e0e0e;
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 10px 40px;
    /* margin-top: 100px; */
    display: block;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid black;
    text-align: center;
}

input {
    width: 100%;
    height: 30px;
    margin-bottom: 6px;
    color: black;
    font-weight: 500;
}

textarea {
    margin-bottom: 6px;
    width: 100%;
    height: 150px;
}
button {
    background-color: #0e0e0e;
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 10px 40px;
    /* margin-top: 100px; */
    display: block;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid black;
    width: 100%;
    margin-top: 10px;
}

.hero-section {
    height: 85vh;
    /* background-image: url(images/gabe-lFUM8nCrs0I-unsplash.jpg); */
    /* background: -webkit-linear-gradient(to bottom, #000000, #0101ab); */
    /* background: linear-gradient(to bottom, #277dff, #0101ab);  */
    background-image: url("images/eden-lorish-dupe.jpeg");
    background-size: cover;
} .hero-section h1 {
    font-size: 33px;
}

.white-font {
    color: white;
}

.card {
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  /* Tablet */
  @media screen and (min-width: 768px) {
    .card {
      display: flex;
      gap: 2rem;
    }
    
    .card-image {
      width: 40%;
      height: auto;
    }
  }
  
  /* Desktop */
  @media screen and (min-width: 992px) {
    .card {
      flex-direction: column;
      gap: 1rem;
    }
    
    .card-image {
      width: 100%;
      height: 250px;
    }
    
    /* Grid layout for cards */
    .card-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  }