/* Affiliate page only styles */
.hero-section {
    background-image: url("../images/cora-pursley-dupe.jpeg");
    height: 50vh !important;
}
h1 {
    color: var(--red) !important;
}
.hero-section p {
    color: var(--red);
}



nav p {
    color: white !important;
}

/* Desktop */
  @media screen and (min-width: 992px) {
    .hero-section {
      background-image: url("../images/marissa-bastarache-dupe.jpeg");
    }
    .hero-section p {
        color: var(--blue) !important;
    }
  }